DB_HOST=aws-0-ap-northeast-1.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.zucwthxtlllnmpswnnue
DB_PASSWORD="Tanya ke nomor 0813 1234 5678"
DB_SSL=true
SESSION_SECRET=7c45e88bdf3a027b5bee593c5b6a848f5b166d357b2b5721efa336cfa90c2fab
